[Unit]
Description=droid-hal-init
Wants=lxc@android.service android-mount.service
After=lxc@android.service
After=local-fs.target systemd-udev-settle.service
Before=graphical.target display-manager.service lxdm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droid-hal-init

[Install]
WantedBy=multi-user.target
